<header local-class="masthead">
  <h3 local-class="masthead-brand">
    <Gravatar
      @hash={{@gravatar}}
      @size={{50}}
      @retina={{true}}
    />
  </h3>

  <nav local-class="masthead-nav">
    {{#each @links as |link|}}
      <a href={{link.url}} local-class="nav-link" target="_blank" rel="noopener noreferrer">
        {{link.title}}
      </a>
    {{/each}}
  </nav>
</header>