*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
}

body {
  display: flex;
  color: #333;
  margin: 0;
}
