:root {
  --color-white: #fff;
  --color-grey-6: #666;
  --color-grey-3: #333;
  --color-black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
}

body {
  display: flex;
  background-color: var(--color-white);
  color: var(--color-grey-3);
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-grey-3);
    color: var(--color-white);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-white);
    color: var(--color-grey-3);
  }
}
