name: CI

on:
  push:
    branches:
      - main
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    timeout-minutes: 10

    env:
      PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: pnpm
      - run: pnpm install
      - run: pnpm format
      - run: pnpm lint
      - run: pnpm test

  deployment:
    name: 'Deployment'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [test]

    permissions:
      contents: read
      deployments: write

    if: github.ref == 'refs/heads/main'

    environment:
      name: production
      url: https://bobisjan.com

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: pnpm
      - uses: aws-actions/configure-aws-credentials@v6
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'eu-central-1'
      - run: pnpm install
      - run: pnpm build
      - run: >
          aws s3 sync ./dist/assets/ s3://bobisjan.com/assets/
          --acl public-read
          --cache-control max-age=31536000,public
          --delete
      - run: >
          aws s3 sync ./dist/ s3://bobisjan.com/
          --acl public-read
          --cache-control max-age=60,public
          --exclude '@embroider/*'
          --exclude 'assets/*'
          --exclude '.ssr/*'
          --delete
